<style>
    .user-img img {
        border-radius: 50%;
        width: 40px; /* Adjust the size as needed */
        height: 40px; /* Adjust the size as needed */
        object-fit: cover;
    }
</style>

{% load static %}

<div class="header">
            <div class="header-left">
               <a href="{% url 'hod_home' %}" class="logo">
               <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
               </a>
            </div>

            <div class="top-nav-search mt-3">
                <h4>
                    <strong>
                        Hello,
                    </strong>&nbsp;<span>
                    {{ user.first_name }} {{ user.last_name }}
                </span>!</h4>
            </div>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
               <li class="nav-item dropdown noti-dropdown">
{#                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">#}
{#                  <i class="far fa-bell"></i> <span class="badge badge-pill">3</span>#}
{#                  </a>#}
                  <div class="dropdown-menu notifications">
                     <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                     </div>

                     <div class="topnav-dropdown-footer">
                        <a href="#">View all Notifications</a>
                     </div>
                  </div>
               </li>
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      {% if user.profile_pic == "" %}
                          <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/noimg.png' %}" width="31" alt="Profile_Picture"></span>
                      {% else %}
                  <span class="user-img"><img class="rounded-circle" src="/{{ user.profile_pic }}" width="31" alt="Profile_Picture"></span>
                      {% endif %}
                  </a>
                  <div class="dropdown-menu">
                     <div class="user-header">
                        <div class="avatar avatar-sm">
                            {% if user.profile_pic == "" %}
                                <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/noimg.png' %}" width="31" alt="Profile_Picture"></span>
                            {% else %}
                           <img src="/{{ user.profile_pic }}" alt="User Image" class="avatar-img rounded-circle">
                            {% endif %}
                        </div>
                        <div class="user-text">
                           <h6>{{ user.first_name }}&nbsp;</h6>
                            {% if user.is_authenticated and 'admin' in user.email|lower %}
                           <p class="text-muted mb-0">Admin</p>
                            {% elif user.is_authenticated and 'manager' in user.email|lower %}
                            <p class="text-muted mb-0">Manager</p>
                            {% elif user.is_authenticated and 'director' in user.email|lower %}
                            <p class="text-muted mb-0">Director</p>
                            {% elif user.is_authenticated and 'reception' in user.email|lower %}
                            <p class="text-muted mb-0">Reception</p>
                                {% elif user.is_authenticated and 'teacher' in user.email|lower %}
                            <p class="text-muted mb-0">Teacher</p>
                            {% endif %}

                        </div>
                     </div>
                     <a class="dropdown-item" href="{% url 'profile' %}">My Profile Edit</a>
                     <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
               </li>
            </ul>
         </div>