{% load static %}

<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                     <li class="menu-title">
                        <span>Asosiy Bo'lim</span>
                     </li>
                     <li>
                        <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Analitika</span></a>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> O'quvchilar</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="students.html">Kutayotkanlar</a></li>
                           <li><a href="{% url 'view_student' %}">O'quvchilar</a></li>
                        </ul>
                     </li>
                      <li class="submenu">
                        <a href="#"><i class="fas fa-book-reader"></i> <span> Kurslar</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'view_courses' %}">Kurslar</a></li>
                           <li><a href="{% url 'view_course' %}">Guruhlar</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Hodimlar</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'view_staff' %}">Barcha Hodimlar</a></li>
                            <li><a href="{% url 'add_staff' %}">Hodim Qo'shish</a></li>
                           <li><a href="teacher-details.html">O'qituvchilar</a></li>
                           <li><a href="add-teacher.html">Ishga Topshirganlar</a></li>
                           <li><a href="edit-teacher.html">Ishdan Ketayotkanlar</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-building"></i> <span> Filiallar</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="departments.html">Barcha Filiallar</a></li>
                           <li><a href="add-department.html">Filial 1</a></li>
                           <li><a href="edit-department.html">Filial 2</a></li>
                        </ul>
                     </li>

                     <li class="menu-title">
                        <span>Boshqaruv Bo'limi</span>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Finances</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="fees-collections.html">Fees Collection</a></li>
                           <li><a href="expenses.html">Expenses</a></li>
                           <li><a href="salary.html">Salary</a></li>
                           <li><a href="add-fees-collection.html">Add Fees</a></li>
                           <li><a href="add-expenses.html">Add Expenses</a></li>
                           <li><a href="add-salary.html">Add Salary</a></li>
                        </ul>
                     </li>
                     <li>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Attendance</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="fees-collections.html">Fees Collection</a></li>
                           <li><a href="expenses.html">Expenses</a></li>
                           <li><a href="salary.html">Salary</a></li>
                           <li><a href="add-fees-collection.html">Add Fees</a></li>
                           <li><a href="add-expenses.html">Add Expenses</a></li>
                           <li><a href="add-salary.html">Add Salary</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="holiday.html"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
                     </li>
                     <li>
                        <a href="fees.html"><i class="fas fa-comment-dollar"></i> <span>Taxes</span></a>
                     </li>
                     <li>
                        <a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>Exams</span></a>
                     </li>
                     <li>
                        <a href="event.html"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
                     </li>
                     <li>
                        <a href="time-table.html"><i class="fas fa-table"></i> <span>Time Table</span></a>
                     </li>
                     <li>
                        <a href="library.html"><i class="fas fa-book"></i> <span>Library</span></a>
                     </li>
                      <li>
                        <a style="color: darkred" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Exit</span></a>
                     </li>
                     <li class="menu-title">
                        <span>Pages</span>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="login.html">Login</a></li>
                           <li><a href="register.html">Register</a></li>
                           <li><a href="forgot-password.html">Forgot Password</a></li>
                           <li><a href="error-404.html">Error Page</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>