<!DOCTYPE html>
<html lang="en">
{% load static %}
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>ADC - Dashboard</title>
      <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>
   <body>
   <div class="main-wrapper">

       {% include 'includes/header.html' %}

       {% include 'includes/sidebar.html' %}



        <div class="page-wrapper">

            <div class="content container-fluid">
                {% block content %}
                {% endblock %}


       {% include 'includes/footer.html' %}
        </div>
   </div>

   <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>

{#       <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>#}
       <link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

       <script src="{% static 'assets/plugins/datatables/datatables.min.js'%}"></script>
{#       <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>#}


<script>
 $(document).ready(function () {
  // Loop through all tables with class 'data-table'
  $('table.data-table').each(function() {
    var table = $(this);

    // Setup - add a text input to each footer cell
    table.find('thead th').each(function (i) {
      var title = $(this).text();
      $(this).html(title + '<br><div class="form-group"><input type="text" class="form-control" data-index="' + i + '" /></div>');
    });

    // DataTable
    var dataTable = table.DataTable({
      scrollY: true,
      scrollX: true,
      scrollCollapse: true,
      paging: false,
      fixedColumns: false,
      dom: 'lrtip'
    });

    // Filter event handler
    $(dataTable.table().container()).on('keyup', 'thead input', function () {
      var columnIndex = $(this).data('index');
      dataTable.column(columnIndex).search(this.value).draw();
    });
  });
});

</script>
   </div>
   </body>

</html>