{% extends 'base.html' %}

{% block content %}
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Add Payment</h3>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Fees Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>First Name</label>
                              <input style="color: gray" type="text" name="first_name" class="form-control" value="{% for i in student %}{{ i.admin.first_name }}{% endfor %}">
                              <input type="hidden" name="student_id" value="{% for i in student %}{{ i.admin.id }}{% endfor %}">
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" style="color: gray" name="last_name" class="form-control" value="{% for i in student %}{{ i.admin.last_name }}{% endfor %}">
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Student ID</label>
                              <input type="text" style="color: gray" name="student_id" class="form-control" value="{% for i in student %}{{ i.admin.username }}{% endfor %}" readonly>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Group</label>
                              <input type="text" style="color: gray" name="group_id" class="form-control" value="{% for i in student %}{{ i.course_id.subject }} {{ i.course_id.level }} ({{ i.course_id.username }}){% endfor %}" readonly>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Teacher</label>
                              <input type="text" style="color: gray" name="teacher_id" class="form-control" value="{% for i in student %}{{ i.course_id.teacher_id.admin.first_name }} {{ i.course_id.teacher_id.admin.last_name }}{% endfor %}" readonly>
                           </div>
                        </div>
                     <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Payment Type</label>
                                       <select class="form-control" name="payment_type">
                                          <option>Cash</option>
                                          <option>Plastic</option>
                                       </select>
                                    </div>
                                 </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Fees Amount</label>
                              <input type="text" name="fee_amount" class="form-control" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Comment</label>
                              <textarea class="form-control" name="comment"></textarea>
                           </div>
                        </div>
{#                        <div class="col-12 col-sm-6">#}
{#                           <div class="form-group">#}
{#                              <label>Paid Date</label>#}
{#                              <input type="date" class="form-control">#}
{#                           </div>#}
{#                        </div>#}
                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Checkout</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}