{% extends 'base.html' %}

{% block content %}
    <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'add_course' %}">
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Guruh Qo'shish</span></h5>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Fan</label>
                                       <select class="form-control" name="subject" required>
                                          <option>English</option>
                                          <option>Russian</option>
                                          <option>Korean</option>
                                           <option>Japanese</option>
                                           <option>Arabic</option>
                                           <option>IELTS</option>
                                           <option>CEFR</option>
                                           <option>History</option>
                                           <option>Maths</option>
                                       </select>
                                    </div>
                                  </div>
                                      <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Daraja</label>
                                       <select class="form-control" name="level" required>
                                          <option>Beginner</option>
                                          <option>Elementary</option>
                                          <option>Pre-Intermediate</option>
                                           <option>Intermediate</option>
                                           <option>Upper-Intermediate</option>
                                           <option>Advanced</option>
                                       </select>
                                    </div>
                                    </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Teacher</label>
                                       <select class="form-control" name="teacher_id">
                                           {% for i in staff %}
                                               {% if i.department == "Teacher" %}
                                                <option value="{{ i.id }}">{{ i.admin.first_name }} {{ i.admin.last_name }} ({{ i.admin.username }})</option>
                                               {% endif %}
                                           {% endfor %}
                                       </select>
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Days</label>
                                       <select class="form-control" name="days">
                                          <option value="MWF">MWF</option>
                                            <option value="TTS">TTS</option>
                                       </select>
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Hours</label>
                                       <select class="form-control" name="days">
                                          <option value="9:00">9:00</option>
                                            <option value="10:30">10:30</option>
                                            <option value="14:00">14:00</option>
                                            <option value="15:30">15:30</option>
                                            <option value="17:00">17:00</option>
                                            <option value="18:30">18:30</option>
                                            <option value="20:00">20:00</option>
                                       </select>
                                    </div>
                                 </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Status</label>
                                       <select class="form-control" name="status">
                                          <option>Active</option>
                                          <option>Archived</option>
                                       </select>
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Branch</label>
                                       <select class="form-control" name="branch_name">
                                           {% for i in branch %}
                                                <option value="{{ i.name }}">{{ i.name }} | {{ i.address }}</option>
                                           {% endfor %}
                                       </select>
                                    </div>
                                 </div>

{#                                 <div class="col-12 col-sm-6">#}
{#                                    <div class="form-group">#}
{#                                       <label>Fan</label>#}
{#                                       <input type="text" class="form-control" name="subject" required>#}
{#                                    </div>#}
{#                                 </div>#}
{#                                 <div class="col-12 col-sm-6">#}
{#                                    <div class="form-group">#}
{#                                       <label>Daraja</label>#}
{#                                       <input type="text" class="form-control" name="level" required>#}
{#                                    </div>#}
{#                                 </div>#}
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary" style="width: 100%">Add Course</button>
                                 </div>
                                  <br>
                                  <br>
                                  <div class="col-12">
                                      {% include 'includes/messages.html' %}
                                  </div>

                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
{% endblock %}