{% extends 'base.html' %}
{% block content %}
    <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Arxivlangan O'quvchilar</h3>

                     </div>
                      {% include 'includes/messages.html' %}
                     <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'add_student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="data-table">
  <thead>
    <tr>
      <th style="color: darkred">Student</th>
      <th style="color: darkred">ID</th>
      <th style="color: darkred">Group</th>
      <th style="color: darkred">Mobile</th>
      <th style="color: darkred">Address</th>
      <th style="color: darkred">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for i in student %}
    <tr>
      <td>
        <a href="{% url 'edit_student' i.id %}">{{ i.admin.first_name }}&nbsp;{{ i.admin.last_name }}</a>
      </td>
      <td>{{ i.admin.username }}</td>
      <td>{{ i.course_id }}</td>
      <td>{{ i.mobile }}</td>
      <td>{{ i.address }}</td>
      <td style="color: lightslategray">{{ i.created_at.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
{% endblock %}