{% extends 'base.html' %}
{% block content %}
    <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post"action="{% url 'update_staff' %}" enctype="multipart/form-data">
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Hodim Ma'lumotlarini Tahrirlash</span></h5>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Ism</label>
                                       <input type="text" style="color: gray" class="form-control" name="first_name" value="{{ staff.admin.first_name }}">
                                        <input type="text" style="color: gray" class="form-control" name="staff_id" value="{{ staff.admin.id }}" hidden>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Familiya</label>
                                       <input type="text" style="color: gray" class="form-control" name="last_name" value="{{ staff.admin.last_name }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Bo'lim</label>
                                       <input type="text" style="color: gray" class="form-control" name="department" value="{{ staff.department }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Yo'nalish</label>
                                       <input type="text" style="color: gray" class="form-control" name="role" value="{{ staff.role }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Ish Xaqi Turi</label>
                                       <input type="text" style="color: gray" class="form-control" name="salary_type" value="{{ staff.salary_type }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Ish Xaqi</label>
                                       <input type="text" style="color: gray" class="form-control" name="salary_amount" value="{{ staff.salary_amount }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Ish Formati</label>
                                       <input type="text" style="color: gray" class="form-control" name="work_format" value="{{ staff.work_format }}">
                                    </div>
                                 </div>

                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Tug'ilgan Sana</label>
                                       <div>
                                          <input type="date" style="color: gray" class="form-control" name="birth_date" value="{{ staff.birth_date|date:'Y-m-d' }}">
                                       </div>
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Manzil</label>
                                       <textarea class="form-control" style="color: gray" name="address">{{ staff.address }}</textarea>
                                    </div>
                                 </div>
{#                                  <div class="col-12 col-sm-6">#}
{#                                    <div class="form-group">#}
{#                                       <label>Email</label>#}
{#                                       <input type="text" class="form-control" name="email">#}
{#                                    </div>#}
{#                                 </div>#}
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Telefon Raqam</label>
                                       <input type="text" style="color: gray" class="form-control" name="mobile" value="{{ staff.mobile }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Telefon Raqam (Qo'shimcha)</label>
                                       <input type="text" style="color: gray" class="form-control" name="mobile_two" value="{{ staff.mobiletwo }}">
                                    </div>
                                 </div>
{#                              <div class="col-12 col-sm-6">#}
{#                                    <div class="form-group">#}
{#                                       <label>Guruh</label>#}
{#                                       <select class="form-control" name="course_id">#}
{#                                           {% for i in course %}#}
{#                                          <option value="{{ i.id }}">{{ i.subject }} | {{ i.level }}</option>#}
{#                                           {% endfor %}#}
{#                                       </select>#}
{#                                    </div>#}
{#                                 </div>#}
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Login</label>
                                       <input type="text" style="color: gray" class="form-control" name="username" value="{{ staff.admin.username }}">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Parol</label>
                                       <input type="text" style="color: gray" class="form-control" name="password" placeholder="Yangi Parol">
                                    </div>
                                 </div>
                              <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" name="status">
                                            {% for i in student %}
                                            <option value="{{ i.status }}">{{ i.status }}</option>
                                            <option value="Kutayotkanlar">Kutayotkanlar</option>
                                                <option value="Aktiv">Aktiv</option>
                                            <option value="Arxiv">Arxiv</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary" style="width: 100%">Tasdiqlash</button>
                                 </div>

                              {% include 'includes/messages.html' %}

                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
{% endblock %}