{% extends 'base.html' %}

{% block content %}
    <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post"action="{% url 'update_course' %}">
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Edit Group</span></h5>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Subject</label>
                                       <input type="text" class="form-control" name="subject" value="{{ course.subject }}" required>
                                        <input type="text" class="form-control" name="course_id" value="{{ course.id }}" hidden>
                                    </div>
                                  </div>
                                      <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Level</label>
                                       <input type="text" class="form-control" name="level" value="{{ course.level }}" required>
                                        <input type="text" class="form-control" name="course_id" value="{{ course.id }}" hidden>
                                    </div>
                                    </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Teacher</label>
                                       <select class="form-control" name="teacher_id">
                                           {% for i in staff %}
                                               {% if i.department == "Teacher" %}
                                                <option value="{{ i.id }}">{{ i.admin.first_name }} {{ i.admin.last_name }} ({{ i.admin.username }})</option>
                                               {% endif %}
                                           {% endfor %}
                                       </select>
                                    </div>
                                 </div>

                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" name="status">
                                            <option value="{{ course.status }}">{{ course.status }}</option>
                                            <option value="Aktiv">Aktiv</option>
                                            <option value="Arxiv">Arxiv</option>
                                        </select>
                                    </div>
                                </div>

{#                                 <div class="col-12 col-sm-6">#}
{#                                    <div class="form-group">#}
{#                                       <label>Fan</label>#}
{#                                       <input type="text" class="form-control" name="subject" required>#}
{#                                    </div>#}
{#                                 </div>#}
{#                                 <div class="col-12 col-sm-6">#}
{#                                    <div class="form-group">#}
{#                                       <label>Daraja</label>#}
{#                                       <input type="text" class="form-control" name="level" required>#}
{#                                    </div>#}
{#                                 </div>#}
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                 </div>
                                  <br>
                                  <br>
                                  <div class="col-12">
                                      {% include 'includes/messages.html' %}
                                  </div>

                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
{% endblock %}