{% extends 'base.html' %}
{% block content %}

<div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">Analytics</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-one w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-user-graduate"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{ student_count }}</h3>
                                 <h6>Students</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-two w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-book-reader"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{ groups }}</h3>
                                 <h6>Groups</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-three w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-chalkboard-teacher"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{ teachers }}</h3>
                                 <h6>Teachers</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-four w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-file-invoice-dollar"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{ payments }}</h3>
                                 <h6>Payment Transactions</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-12 col-lg-12">
                     <div class="card flex-fill">
                        <div class="card-header">
                           <h5 class="card-title">Student Shares Per Subject</h5>
                        </div>
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center">
                                 <thead class="thead-light">
                                    <tr>
                                        <th>Subjects</th>
                                       <th>Total Students</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for course in course_with_student_counts %}
                                        <tr>
                                          <td>{{ course.subject }}</td>
                                          <td>{{ course.student_count }}</td>
                                        </tr>
                                      {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               </div>
            </div>
{% endblock %}