{% extends 'base.html' %}
{% block content %}

    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="{% url 'download_csv' %}" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download Excel</a>
                     </div>
                    <h3 class="page-title">Payment History</h3>
                </div>
                {% include 'includes/messages.html' %}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive table-bordered table-hover">
                            <table class="data-table table table-hover table-center">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="color: darkred">Student</th>
                                        <th style="color: darkred">ID</th>
                                        <th style="color: darkred">Group</th>
                                        <th style="color: darkred">Teacher</th>
                                        <th style="color: darkred">Amount</th>
                                        <th style="color: darkred">Type</th>
                                        <th style="color: darkred">Date</th>
                                        <th style="color: darkred">Cashier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                        <td style="font-size: 14px;">
                                                {{ payment.first_name }} {{ payment.last_name }}
                                        </td>
                                        <td style="font-size: 14px; color: gray">{{ payment.student_id }}</td>
                                        <td style="font-size: 14px; color: gray">{{ payment.group_id }}</td>
                                        <td style="font-size: 14px; color: gray">{{ payment.teacher_id }}</td>
                                        <td style="font-size: 14px;">{{ payment.fee_amount }}</td>
                                        <td style="font-size: 14px;">{{ payment.payment_type }}</td>
                                        <td style="color: lightslategray; font-size: 12px">{{ payment.created_at }}</td>
                                    <td style="font-size: 14px;">{{ payment.author }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
