<style>
    .card {
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
    }

    .status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  .ocklock-circle {
    background-color: #25be78;
  }

  .half-circle {
    background-color: #257dbe;
  }

    .card:hover {
        transform: scale(1.05);
    }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        .container {
            margin-top: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px;
        }
        .time {
            font-weight: bold;
            text-align: right;

        }
        .slot {
            border: 0.5px solid #dee2e6;
            padding: 10px;
            min-height: 50px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .schedule .row {
    display: flex;
    justify-content: center; /* Center the slots horizontally */
}

        .slot.reserved {

            border-radius: 5px;
            background: #25be78; color: white; border: 1px solid grey; /* Light green background */
            color: white;
        }
        .slot.reserved.half {

            border-radius: 5px;
            background: #257dbe; color: white; border: 1px solid grey; /* Light green background */
            color: white;
        }
        .slot.reserved:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
        .slot.reserved:not(:first-child) {
            border-left: 1px solid #dee2e6;
        }
        .slot-header {
            background-color: #fff;
            color: black;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }
        .slot-header-container {
            overflow-x: auto; /* Horizontal scrollbar */
        }
    </style>

{% extends 'base.html' %}
{% block content %}

<div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">{{ branch.name }} Page</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                      <div class="card flex-fill insta sm-box" style="background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);">
                    <h6>{{student_count}}</h6>
                    <p>Students<i class="fas fa-building" style="color: white; float: right; height: 60%;"></i></p>
                </div>


                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                      <div class="card flex-fill insta sm-box" style="background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);">
                    <h6>{{ group_count }}</h6>
                    <p>Groups<i class="fas fa-book-reader" style="color: white; float: right; height: 60%;"></i></p>
                </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                      <div class="card flex-fill insta sm-box" style="background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);">
                    <h6 style="color: white">{{ staff_count }}</h6>
                    <p>Staff<i class="fas fa-chalkboard-teacher" style="color: white; float: right; height: 60%;"></i></p>
                </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card flex-fill insta sm-box" style="background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);">
                    <h6 style="color: white">{{ branch.rooms }}</h6>
                    <p>Rooms<i class="fas fa-file-invoice-dollar" style="float: right; height: 60%;"></i></p>
                </div>
                  </div>
               </div>
<div class="row">
    <!-- First Card -->
<div class="container" style="max-width: 100%; width: 1300px;">
        <h1 class="text-center mb-4">Schedule for {{ today_date }} </h1>

        <div class="row">
        <!-- Time headers -->
        <div class="col slot-header">8:00</div>
        <div class="col slot-header">9:00</div>
        <div class="col slot-header">10:00</div>
        <div class="col slot-header">11:00</div>
        <div class="col slot-header">12:00</div>
        <div class="col slot-header">13:00</div>
        <div class="col slot-header">14:00</div>
        <div class="col slot-header">15:00</div>
        <div class="col slot-header">16:00</div>
        <div class="col slot-header">17:00</div>
        <div class="col slot-header">18:00</div>
    </div>
        {% if today_date == "Monday" or today_date == "Wednesday" or today_date == "Friday" %}
            {% for course in mwf %}
            <div class="row">
                {% if course.hours == "9:00" %}
                    <div class="col slot"></div>
                    <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "10:30" %}
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "14:00" %}
                <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "15:30" %}
                <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot reserved half" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "17:00" %}
                <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>
                <div class="col slot"></div>
                {% endif %}
            </div>
    {% endfor %}
    {% elif today_date == "Tuesday" or today_date == "Thursday" or today_date == "Saturday" %}
    {% for course in tts %}
            <div class="row">
                {% if course.hours == "9:00" %}
                    <div class="col slot"></div>
                    <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "10:30" %}
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "14:00" %}
                <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "15:30" %}
                <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot reserved half" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>                <div class="col slot"></div>
                <div class="col slot"></div>
                {% elif course.hours == "17:00" %}
                <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                    <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot"></div>
                <div class="col slot reserved" onclick="alert('{{ course.subject }} ({{ course.level }}) - {{ course.hours }} \nTeacher - {{ course.teacher_id.admin.first_name }} {{ course.teacher_id.admin.last_name }} \nGroup ID - {{ course.username }}')">{{ course.subject }} {{ course.teacher_id.admin.first_name }} ({{ course.hours }}) </div>
                <div class="col slot"></div>
                {% endif %}
            </div>
    {% endfor %}
        {% endif %}
</div>
</div>
    <!-- Repeat the above code block for the remaining cards -->

</div>

{% endblock %}