{% extends 'base.html' %}
{% block content %}

    <div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
                    <h3 class="page-title">Salary Calculator</h3>
                </div>
      {% include 'includes/messages.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
    <h3 style="color: darkred">Hotel Branch</h3>
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" style="table-layout: fixed;">
              <thead class="thead-light">
                <tr>
                  <th style="color: darkred; width: 30%;">Teacher</th>
                  <th style="color: darkred; width: 25%;">Cash</th>
                     <th style="color: darkred; width: 20%;">Plastic</th>
                     <th style="color: darkred; width: 20%;">Total</th>
                    <th style="color: darkred; width: 20%;">39%</th>
                    <th style="color: darkred; width: 20%;">1% Comp</th>
                    <th style="color: darkred; width: 20%;">Fines</th>
                    <th style="color: darkred; width: 20%;">Bonus</th>
                    <th style="color: darkred; width: 20%;">Bills</th>
                    <th style="color: darkred; width: 20%;">Tax</th>
                    <th style="color: darkred; width: 20%;">Plastic</th>
                    <th style="color: darkred; width: 20%;">Avans</th>
                    <th style="color: darkred; width: 20%;">Salary</th>
                </tr>
              </thead>
              <tbody>
                {% for teacher in teacher_fees %}
                  <tr>
                    <td style="font-size: 14px">
                      {{ teacher.first_name }}&nbsp;{{ teacher.last_name }}
                    </td>
                      <td style="color: lightslategray; font-size: 14px"></td>
                      <td style="color: lightslategray; font-size: 14px"></td>
                    <td style="color: lightslategray; font-size: 14px">{{ teacher.total_fees }}</td>
                  <td style="color: lightslategray; font-size: 14px">{{ teacher.commission }}</td>
                  <td style="color: lightslategray; font-size: 14px">{{ teacher.bonus }}</td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  <td style="color: lightslategray; font-size: 14px"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}