{% extends 'base.html' %}
{% block content %}

    <div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title"><a href="{% url 'edit_course' course.id %}">{{ course.subject }} {{ course.level }}</a></h3>
        <br>
        <h6 style="color: gray">ID: {{ course.username }}</h6>
          <br>
        <h6 style="color: black">Branch: {{ course.branch }}</h6>
        <hr>
        <h5>Teacher: </h5>
        <h5 style="color: gray">{{ course.teacher_id }}</h5>
      </div>
      {% include 'includes/messages.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th style="color: darkred; width: 30%;">Student</th>
                  <th style="color: darkred; width: 20%;">ID</th>
                  <th style="color: darkred; width: 25%;">Mobile</th>
                  <th style="color: darkred; width: 25%;">Date</th>
                    <th style="color: darkred; width: 25%;">Last Payment</th>
                </tr>
              </thead>
              <tbody>
                {% for i in student %}
                  <tr>
                    <td>
                      {{ i.admin.first_name }}&nbsp;{{ i.admin.last_name }}
                    </td>
                    <td>{{ i.admin.username }}</td>
                    <td>{{ i.mobile }}</td>
                    <td style="color: lightslategray">{{ i.created_at.date }}</td>
                  <td style="color: lightslategray">{% for l in payments %}{{ l.created_at }}{% endfor %}</td>
                  </tr>
                {% endfor %}
              {% for i in existing_students %}
                  <tr>
                    <td>{{ i.first_name }} {{ i.last_name }}</td>
                    <td>{{ i.student_id }}</td>
                    <td>{{ i.mobile }}</td>
                    <td style="color: lightslategray">{{ i.created_at.date }}</td>
                  <td style="color: lightslategray">{{ i.payments }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}