{% extends 'base.html' %}

{% block content %}
    <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Groups</h3>

                     </div>
                      {% include 'includes/messages.html' %}
                     <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'add_course' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="data-table table">
                                 <thead>
                                    <tr>
                                       <th style="color: darkred">Subject</th>
                                        <th style="color: darkred">Level</th>
                                        <th style="color: darkred">ID</th>
                                       <th style="color: darkred">Teacher</th>
                                       <th style="color: darkred">Branch</th>
                                       <th style="color: darkred">Days</th>
                                        <th style="color: darkred">Started</th>
                                    </tr>
                                 </thead>
                              <tbody>
                                  {% for i in course %}
                                    <tr>
                                       <td>
                                             <a href="{% url 'view_students' i.id %}">{{ i.subject }}</a>
                                       </td>
                                        <td>{{ i.level }}</td>
                                        <td style="color: grey">{{ i.username }}</td>
                                       <td>{{ i.teacher_id.admin.first_name }} {{ i.teacher_id.admin.last_name }}</td>
                                       <td>{{ i.branch }}</td>
                                       <td></td>
                                        <td style="color: lightslategray">{{ i.created_at.date }}</td>
                                    </tr>
                                  {% endfor %}
                              </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
{% endblock %}
