{% extends 'base.html' %}
{% block content %}
    <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title"><i class="fas fa-chalkboard-teacher"></i> All Teachers</h3>

                     </div>
                      {% include 'includes/messages.html' %}
                     <div class="col-auto text-right float-right ml-auto">

                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive table-bordered table-hover">
                              <table class="data-table table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="color: darkred">Staff</th>
                                            <th style="color: darkred">ID</th>
                                            <th style="color: darkred">Role</th>
                                            <th style="color: darkred">Branch</th>
                                            <th style="color: darkred">Work Format</th>
                                            <th style="color: darkred">Mobile</th>
                                            <th style="color: darkred">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in staff %}
                                        <tr>
                                            <td>
                                                    <a href="{% url 'edit_staff' i.id %}">{{ i.admin.first_name }}&nbsp;{{ i.admin.last_name }}</a>
                                                </h2>
                                            </td>
                                            <td>{{ i.admin.username }}</td>
                                            <td>{{ i.role }}</td>
                                            <td>{{ i.branch.name }}</td>
                                            <td>{{ i.work_format }}</td>
                                            <td>{{ i.mobile }}</td>
                                            <td style="color: lightslategray">{{ i.created_date.date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
{% endblock %}