{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to ADC CRM</title>
    <style>
      /* Center align the text */
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      /* Set the font size to 24 and center the text */
      h1 {
        font-size: 24px;
        text-align: center;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to ADC CRM</h1>
  </body>
</html>

{% endblock %}